body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #e1e1e1;
    line-height: 1.6;
}

header {
    background-color: #121212;
    color: #e1e1e1;
    text-align: center;
    padding: 2rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#linkedin-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.linkedin-button img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #2e2e2e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.section-title {
    text-align: left;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Link Styling */
a {
    color: #b5b5b5;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover,
a:focus {
    color: #ffffff;
    text-decoration: underline;
}

a:active {
    color: #888888;
}

.project {
    margin-bottom: 2rem;
    border: 1px solid #444;
    border-radius: 8px;
    overflow: hidden;
}

.project h2 {
    border-bottom: 2px solid #444;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.project-title {
    background-color: #2e2e2e;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: left;
    padding-left: 2rem;
    position: relative;
    display: flex;
    align-items: center;
}

.project-excerpt {
    font-size: 14px;
    color: #777;
    margin-left: 8px;
}

.project-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #383838;
    padding: 0 2rem;
}

.project-title:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
    height: 2px;
    background-color: currentColor;
}

.project:hover {
    background-color: #383838;
}

footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: #121212;
    color: #e1e1e1;
}

footer p {
    margin: 0;
}

/* Github Button Styling */
.github-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.github-button:hover {
    background-color: #555;
}

.github-button img {
    margin-right: 8px;
}
